@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.profile-info {
    display: none;
}

.profile:hover>.profile-info {
    display: block;
}